body, html {
    background-image: url(./img/facade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: rgb(227, 227, 255);
    height: 100%;
    margin: 0;
    padding: 0;
}


.title {
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.639);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
    font-family: Nunito;
    font-size: larger;
    font: 800;
    text-align: center;
    position: relative;

    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.container{
    width: 40%;
    margin-top: 2%;

    background-color: rgba(255, 255, 255, 0.561);
    font-family: Nunito;
    text-align: left;
    padding: 20px 20px;
    color: #262626;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.newItem {
    margin-top: 14%; 
    padding: 5% 0;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(36, 36, 36, 0.737);
    width: 100%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 5px;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 12px;
    font-size: 20px;
    font-family: Nunito;
    border-radius: 5px;
}

#newQuantity {
    margin: 5px;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 12px;
    font-size: 20px;
    font-family: Nunito;
    border-radius: 5px;
}

#newPrice {
    margin: 5px;
    border: 1px solid rgb(35, 32, 24);
    width: 5%;
    padding: 12px;
    font-size: 20px;
    font-family: Nunito;
    border-radius: 5px;
}

#newDate {   
    margin: 5px;
    border: 1px solid rgb(35, 32, 24);
    width: 5%;
    padding: 12px;
    font-size: 20px;
    font-family: Nunito;
    border-radius: 5px;
    }

.addBtn {
    padding: 16px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    align-items: center;    
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    font-family: Nunito;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

.addBtn:hover {
    background-color: #515151;
    color: white;
}

.items {
    margin-top: 3%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {    
    border: 1px solid rgb(63, 63, 63);
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 15px 50px;
    margin: 5px;
    font-size: 18px;
    transition: 0.2s;
    font-family: Nunito;
    font-weight: 400;
}

table{
    background-color: white;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 80%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.cardtempo {
    width: 40%;
    margin-top: 2%;
    font-family: Nunito;
    max-width: 470px;
    min-width: 350px;
    background: linear-gradient(
      135deg,
      rgba(64, 156, 236, 0.59),
      rgba(16, 14, 44, 0.795)
    );
    text-align: center;
    padding: 20px;
    color: #262626;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);    
  }
  
  .cardtempo h4 {
    font-size: 50px;
  }
  .icone-tempo {
    width: 50px;
    margin: 0px;
  }
    
  .temperatura ,
  .vento ,
  .umidade ,
  h3 {
    color: white;
    font-size: 25px;
    margin: 10px;
  }
  
  .col {
      margin-top: 5%;
  }
  
  .cidade {
      color: white;
      font-size: 25px;
      margin: 10px;
  }
  
  .detalhes {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
  }
  
  .search {
      width: 100%;
      font-family: Nunito;
      display: block;
      align-items: center;
      justify-content: space-between;
      margin: 3%;
  }
  
  .search input {
      font-family: Nunito;
      width: 90%;
      border-radius: 5px;
      padding: 80px;
      border: 0;
      outline: 0;
      background-color: white;
      color: rgb(96, 96, 96);
      padding: 10px;
      flex: 1;
      height: 10px;  
      font-size: 20px; 
      text-transform: capitalize;
      display: flex;
  }
  
  .serch ,
  button {   
      
      font-family: Nunito;
      border: 0;
      outline: 0;
      width: 80%;
      height: 30px;
      cursor: pointer;
      border-radius: 5px;
      background-color: rgb(35, 32, 24);
      color: white;
      margin: 3%;
      font-size: 15px;
      text-align: center;
      align-items: center;
  }

.descricaotempo {
    font-family: Nunito;
    font-size: 30px;
    text-align: center;
    align-items: center;
    color: rgb(159, 214, 224);
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
}

.weather {
   display: none; 
}

.error {
    text-align: left;
    color: white;
    font-size: 18px;
    margin-top: 2px;
    text-align: center;
    display: none;
}

#map {
    width: 500px;
    height: 500px;
    margin-top: 2%; 
  }

@media only screen and (max-width: 700px) {
body {
    width: 100%;  
    background-size: cover;  
}

.title {
    width: 95%;
    margin: auto;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    text-align: center; 
    transition: 0.2s;   
}

.newItem {
    width: 95%;
    margin: auto;
    margin-top: 60px;
    transition: 0.2s;
    display: block;
    border-radius: 7px;
}

section {
    width: 95%;
    margin: auto;
}

table,
th,
td {    
    padding: 18px 28px;
    margin: 5px;
}

#newInput,
#newQuantity,
#newPrice,
#newDate, 
.addBtn {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
}
    
  }